@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
#teamSelector
{
  width:25vw;
  margin:auto;
  margin-top:40px;
}

#selText
{
  font-family: Raleway;
  font-size: 25px;
  position: absolute;
  margin-left:410px;
  margin-top:44px;
}

#gridCont
{
  margin-top:20px;
  width:50vw;
  margin-right:0px;
  margin-left:50vw;
  
  z-index:-1;
  position:fixed;
  pointer-events: all;
}

#gridBox
{
  position: relative;
  margin-right: 10px;
  height:50vh;
}
#batBox
{
  height:40vh;
  
}

.rlwy
{
  font-family: Raleway;
}

.card
{
  min-height: 190px;
}
.card-body:hover
{
  transform: scale(1.02);
}

#chart_div
{
  position: fixed;
  margin-top:100px;
  z-index:-1;
}

#batChart
{
  z-index: 10000;
  width:40vw;
  
  display: none;
  
  
}

#batBox
{
  border-radius: 10px;
  width:33vw;
  margin-left:33vw;
  margin-top:50px;
  background-color: rgb(239, 232, 232);
  max-height: 70vh;
  backdrop-filter: blur(10px);
}

#bowChart
{
  display: none;
}

#allChart
{
  display: none;
}

#wicChart
{
  display: none;
}

td
{
  font-family: Raleway;
}

#tab2
{
  position:relative;
  margin:auto;

}

#cross
{
  text-align: right;
  font-size: 20px;
  position:-webkit-sticky;
  position: sticky;

}



/*#gridCont,#teamSelector,#chart_div,#selText
{
  
background-size:cover;
-webkit-filter: blur(4px);
-moz-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
}*/

#load
{
  z-index: 50;
  transform:scale(0.45);
  margin-left:650px;
  margin-top:22vh;
  position: fixed;
}